<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_posyandu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPOSYANDU">
        <activity android:name=".VerificationActivity"></activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ReminderLansiaActivity" />
        <activity android:name=".DetailPemeriksaanBumilActivity" />
        <activity android:name=".DetailRestiBumilActivity" />
        <activity android:name=".ReminderBalitaActivity" />
        <activity android:name=".DetailJadwalLansiaActivity" />
        <activity android:name=".DetailJadwalBumilActivity" />
        <activity android:name=".DetailJadwalAnakActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailPemeriksaanLansiaActivity" />
        <activity android:name=".DetailCatatanLansiaActivity" />
        <activity android:name=".DetailBumilActivity" />
        <activity android:name=".DetailCatatanAnakActivity" />
        <activity android:name=".DetailPenimbanganBumilActivity" />
        <activity android:name=".DetailCatatanBumilActivity" />
        <activity android:name=".DetailPenimbanganActivity" />
        <activity android:name=".ProgramKesehatanActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".config.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logoposyandu" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/main_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>